@model WLA.Standard_Time

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Standard_Time</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tahun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tahun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Saturday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saturday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sunday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sunday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Holiday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Holiday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Annual_Leaves)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annual_Leaves)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sick_Permission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sick_Permission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Working_Days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Working_Days)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Effective_Working_Days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Effective_Working_Days)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Working_Hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Working_Hours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilitation_Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilitation_Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Effective_Working_Hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Effective_Working_Hours)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
