@model WLA.Models.WLATrx

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WLATrx</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Process_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Process_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frequency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sub_Total_Aktivitas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sub_Total_Aktivitas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Effective_Working_Hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Effective_Working_Hours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Presentase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Presentase)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
