@model PagedList.IPagedList<WLA.Models.Activity>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Activity";
}

<h2>@ViewBag.Title</h2>

<p>
    <a class="btn btn-danger pull-left" href="@(App.BaseUrl)Create"><i class="glyphicon glyphicon-plus"></i> Create New</a>
</p>
@using (Html.BeginForm("Index", "Activities", FormMethod.Get))
{
    <p class="pull-right">
        Find by name: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table table-bordered table-hover">
    <tr>
        <th>
            Name
        </th>
        <th>
            Type
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @(item.Type == 1 ? "Terpengaruh Jumlah Unit" : item.Type == 2 ? "Tidak Terpengaruh Jumlah Unit" : "")
        </td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="@(App.BaseUrl)Activities/Edit/@item.Id">Edit</a></li>
                    <li><a href="@(App.BaseUrl)Activities/Details/@item.Id">Details</a></li>
                    <li><a href="@(App.BaseUrl)Activities/Delete/@item.Id">Delete</a></li>
                </ul>
            </div>
        </td>
    </tr>
}

</table>
<br/>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))