@model IEnumerable<WLA.Models.Jabatan>

@{
    ViewBag.Title = "Jabatan";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-danger" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="@(App.BaseUrl)Jabatan/Edit/@item.Id">Edit</a></li>
                    <li><a href="@(App.BaseUrl)Jabatan/Details/@item.Id">Details</a></li>
                    <li><a href="@(App.BaseUrl)Jabatan/Delete/@item.Id">Delete</a></li>
                </ul>
            </div>
        </td>
    </tr>
}

</table>
