@model WLA.Models.WLAHeader
@{
    ViewBag.Title = "Details";
    int count = 0;
    string printCount = "";
    string groupName = "";
    string printGroupName = "";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Work Load Analysis</h4>
    
    <table class="table">
        <tr>
            <td width="30%">Fungsi</td>
            <td>@Html.DisplayFor(model => model.Fungsi.Name)</td>
        </tr>
        <tr>
            <td>Jabatan</td>
            <td>@Html.DisplayFor(model => model.Jabatan.Name)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Tahun)</td>
            <td>@Html.DisplayFor(model => model.Tahun)</td>
        </tr>
        <tr>
            <td>Effective Working Hour</td>
            <td>@(Math.Ceiling((Model.Effective_Working_Hours ?? 0) * 1000.0) / 1000)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.FTE)</td>
            <td>@(Math.Ceiling(Model.FTE * 1000.0) / 1000)</td>
        </tr>
    </table>
</div>
<p>
    <div class="btn-group">
        <a href="/../WLATrx/Create/@ViewBag.WLAHeaderId" class="btn btn-danger">Create New</a>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Show <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="/../WLAHeaders/Details/@ViewBag.WLAHeaderId">Activity</a></li>
            <li><a href="/../WLAHeaders/Groups/@ViewBag.WLAHeaderId">Activity Group</a></li>
        </ul>
    </div>
</p>
<table class="table">
    <tr>
        <td>
            No
        </td>
        <th>
            Activity Group
        </th>
        <th>
            Activity
        </th>
        <th>
            Periode
        </th>
        <th>
            Pelaksana
        </th>
        <th>
            Process Time (minute)
        </th>
        <th>
            Quantity
        </th>
        <th>
            Frequency (per day/week/year)
        </th>
        <th>
            Sub Total Aktivitas (hours/year)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in ViewBag.wLATrx as List<WLA.Models.WLATrx>)
    {
        {
            if (!groupName.Equals(item.ActivityGroup.Name))
            {
                groupName = item.ActivityGroup.Name;
                printGroupName = groupName;
                count++;
                printCount =Convert.ToString(count);
            }
            else
            {
                printGroupName = "";
                printCount = "";
            }
        }
        <tr>
            <td>
                @printCount
            </td>
            <td>
                @printGroupName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activity.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periode.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pelaksana.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Process_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frequency)
            </td>
            <td>
                @(Math.Ceiling(item.Sub_Total_Aktivitas * 1000.0)/1000)
            </td>
            
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="@(App.BaseUrl)WLAHeaders/Edit/@item.Id">Edit</a></li>
                        <li><a href="@(App.BaseUrl)WLAHeaders/Details/@item.Id">Details</a></li>
                        <li><a href="@(App.BaseUrl)WLAHeaders/Delete/@item.Id">Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        
    }

</table>
<form class="form-horizontal">
    <div class="form-group">
        <label class="col-md-3 control-label">Update Data dari Excel</label>
        <div class="col-md-9">
            <input type="hidden" id="UploadData" name="UploadData" />
            <div id="dvUploadDataFile">
                <input type="file" id="UploadDataFile" name="UploadDataFile" onchange="return jQuery.fn.UploadDataOnChange();" />
            </div>
            <div id="dvUploadDataLink" style="display: none;">
                <label id="lblUploadDataLink"></label>
                <div id="dvResetUploadLoanLink" style="display:inline;">
                    <button id="btnReset" type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Reset</button>
                </div>
            </div>
            <button style="margin-top:5px;" id="btnUpload" type="button" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload</button>
        </div>
    </div>
</form>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-danger" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-danger" })
</p>
@section Scripts {
    @Scripts.Render("~/bundles/ajaxfileupload")
    <script type="text/javascript">
        jQuery(document).ready(function () {
            function ResetUploadData() {
                $("#lblUploadDataLink").html('');
                $("#UploadData").val('');
                $("#UploadDataFile").val('');
                $('#dvUploadDataLink').hide();
                $('#dvUploadDataFile').show();
            }
            $("#btnUpload").click(function () {
                var err_code = 0;
                var err_message = "";

                if (err_code == 0) {
                    if ($("#UploadData").val() == "") {
                        err_code++;
                        err_message = "Select File";
                    }
                }

                if (err_code == 0) {
                    $.ajax({
                        type: "POST",
                        global: false,
                        url: "@(App.BaseUrl)WLAHeaders/UploadData",
                        data: { Filename: $("#UploadData").val() },
                        beforeSend: function () {
                            $.blockUI({ message: "<h1>Response in progress...</h1>" });
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        success: function (data, status) {
                            if (data.strMessage != "") {
                                bootbox.alert(data.message);
                            } else {
                                bootbox.alert(data.message);
                            }
                        },
                        error: function (status, error) {
                            bootbox.alert(error);
                        }
                    });

                    ResetUploadData();
                } else {
                    bootbox.alert(err_message);
                }

            });

            jQuery.fn.UploadDataOnChange = function () {
                var ElementId = "UploadDataFile";
                $.ajaxFileUpload({
                    url: "@(App.BaseUrl)WLAHeaders/AddAttachment?ElementId=" + ElementId,
                    secureuri: false,
                    dataType: 'json',
                    fileElementId: ElementId,
                    success: function (data, status) {
                        if (data.Success == "false") {
                            $("#UploadDataFile").val('');
                            $("#UploadData").val("");
                            alert("Error upload");
                        } else {
                            $("#lblUploadDataLink").html(data.Url);
                            $("#UploadData").val(data.Filename);
                            $('#dvUploadDataLink').show();
                            $('#dvUploadDataFile').hide();
                        }
                    },
                    error: function (data, status, e) {
                        alert("Error upload");
                    }
                });
            };
        });
    </script>
}