@model PagedList.IPagedList<WLA.Models.ActivityGroup>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Activity Group";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-danger" })
</p>
@using (Html.BeginForm("Index", "ActivityGroups", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="@(App.BaseUrl)ActivityGroups/Edit/@item.Id">Edit</a></li>
                    <li><a href="@(App.BaseUrl)ActivityGroups/Details/@item.Id">Details</a></li>
                    <li><a href="@(App.BaseUrl)ActivityGroups/Delete/@item.Id">Delete</a></li>
                </ul>
            </div>
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))
